<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Compte Rendu PAAS - Angular
  </h1>
  <h2>
    Rais Haythem - ASEDS INE3
  </h2>
  <p> Je n'ai jamais regardé de mangas!</p> 
  <p> Je vais plutôt lister mes 3 films préférés </p>
</div>

<table>
  <tr>
    <th>Poster</th>
    <th>Movie</th>
    <th>Categorie</th>
  </tr>
  <tr>
    <img src="https://lumiere-a.akamaihd.net/v1/images/image_aa4e1a3f.jpeg?region=0,0,1400,2100" />
    <td>Ferdinand</td>
    <td>Animation, Adventure</td>
  </tr>
   <tr>
    <img src="https://images-na.ssl-images-amazon.com/images/I/516fi34NkvL._AC_.jpg" />
    <td>the Omen</td>
    <td>Horror, Psychological</td>
  </tr>
  <tr>
    <img src="https://images-na.ssl-images-amazon.com/images/I/A1tyD0nKdhL._AC_SL1500_.jpg" />
    <td>Coco</td>
    <td>Animation, Fantasy</td>
  </tr>

</table>
